# Ignorar pastas de compilação (geradas pelo CMake)
build/
bin/
obj/
CMakeFiles/
CMakeCache.txt
**/build/

# Ignorar a pasta de dados do jogo EM QUALQUER LUGAR (os 5GB)
**/data/
**/Data/

# Ignorar extensões pesadas específicas (caso não estejam na pasta data)
*.iso
*.ISO
*.bin
*.BIN
*.pak
*.PAK
*.wad
*.WAD
*.pss
*.PSS
*.mp4
*.MP4
*.img
*.IMG
*.irx
*.IRX

# Ignorar temporários do sistema
.DS_Store
Thumbs.db
